.about-card {
  width: 80%;
  margin: 20px auto 180px;
  border: 1px solid black;
  padding: 20px;
  background-color: #f8f8f8;
}

.portrait {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

@media (max-width: 768px) {
  .about-card {
    width: 100%;
  }
}
